<table class="table">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th colspan="5"></th>
    </tr>
  </thead>
   <td>
    <%= exercise.day %>
  </td>
  <td>
    <%= exercise.name %>
  </td>

  <td>
    <%= exercise.reps %>
  </td>

  <td>
    <%= exercise.sets %>
  </td>

 
  <% if current_user.id == 1 %>
  <td>
    <%= link_to 'Destroy Exercise', [exercise.schedule, exercise],
                 method: :delete,
                 data: { confirm: 'Are you sure?' } %>
  </td>
  <% end %>
</table>